[Unit]
Description=PrayerMate Notify Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/prayermate --config "%h/.config/prayermate/config.toml" notify 
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
